/* start global style */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.body--active{
    overflow: hidden;
}
.body--active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.534);
}
a {
    color: inherit;
    text-decoration: none;
}

p, div, h1, h2, h3, h4, h5, h6, blockquote, ul, ol, li {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

input {
    border: none;
}

body img {
    max-width: 100%;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.flex-cr {
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    color: inherit;
    background-color: transparent;
}

.btn {
    background-color: #0D606F;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #09444f;
}

.wrap-more {
    margin-top: 40px;
    text-align: center;
}
.popup-wrap{
    padding: 0 50px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -max-width: 750px;
    overflow: scroll;
    display: none;
    flex-direction: column;
    background-color: rgba(26, 26, 26, 0.534);
}

.popup-login--active{
    display: flex;
}
.popup-creating--active{
    display: flex
}
.popup{
    margin: 30px auto;
    max-width: 650px;
    width: 100%;
    padding: 25px 45px 23px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.popup__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0D606F;
    text-align: center;
}

.popup__bts {
    margin-bottom: 30px;
}

.popup__btn {
    padding: 15px 10px;
    display: flex;
    width: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;

}

.popup__btn svg {
    margin-right: 15px;
}

.popup__btn-facebook {
    margin-bottom: 20px;
    background: #1877F2;
}

.popup__btn-google {
    color: #0D606F;
    background-color: #fff;
}

.popup__line {
    padding: 0 48%;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    color: rgba(13, 96, 111, 0.5);
    text-align: center;
}

.popup__line::before,
.popup__line::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: calc(50% - 20px);
    background-color: #0D606F80;
}

.popup__line::before {
    left: 0;
}

.popup__line::after {
    right: 0;
}


.popup__form label {
    display: block;
    margin-bottom: 20px;
}

label:last-of-type {
    margin-bottom: 25px;
}

.popup__form input {
    padding: 15.5px 10px;
    display: block;
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.popup__email {
    display: block;
}

.popup__form-title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #0D606F;
}

.popup__btn-submit {
    padding: 14px 10px 14px;
    margin-bottom: 14px;
    display: block;
    width: 100%;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Red Hat Text';
    color: #fff;
}

.popup__recovery {
    display: block;
    padding-bottom: 26px;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    color: #0D606F;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
}

.popup__account {
    padding-top: 21px;
    border-top: 1px solid rgba(13, 96, 111, 0.5);
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    text-align: center;
}
.popup__account a{
    color: #0D606F;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
}
/* end global style */


/* start block header*/
.privew-box {
    margin-bottom: 85px;
    background-image: url(../img/preview-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    max-height: 765px;
    position: relative;
    min-height: 251px;
    height: 100%;
}

.privew-box::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -1;
}

.header {
    margin-bottom: 32px;
    padding: 26px 0 24px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
}

.header__logo {
    min-width: 30px;
    height: auto;
}

.header__inner {
    justify-content: space-between;
}

.header__btn {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.menu {
    margin: 0px 10px;
}

.menu__items {
    justify-content: space-between;
}

.menu__item:not(:first-child) {
    margin-left: 42px;
}

.menu__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    transition: color 0.5s;
}

.menu__link:hover {
    color: #313131;
}

.burger {
    position: relative;
    width: 26px;
    height: 16px;
}

.menu--active .menu__items {
    display: block;
}

.menu__item--hide {
    display: none;
}

.burger-open {
    display: none;
}

.burger-close {
    display: none;
}

.link-more {
    padding: 13px 38px 13px 81px;
    position: relative;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.link-more::after {
    content: "";
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 22px;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
}



/* end block header*/

/* start block preview */
.preview {
    color: #fff;
    padding-bottom: 17%;
}

.preview__content {
    max-width: 892px;
    width: 100%;

}

.preview__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

.preview__text {
    margin-bottom: 46px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.preview__form {
    position: relative;
}

.preview__search {
    display: block;
    width: 100%;
    padding: 32px 298px 34px 41px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    border-radius: 16px;
    transition: background-color 0.5s;
}

.preview__search:hover {
    background-color: rgba(255, 255, 255, 1);
}

.preview__search:focus {
    background-color: rgba(255, 255, 255, 1);
}

.preview__search::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.preview__btn {
    padding: 13.5px 32.5px;
    box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    max-width: 290px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

/* end block preview */



/* start block steps */
.steps {
    margin-bottom: 92px;
}

.steps__title {
    margin-bottom: 40px;
    text-align: center;
}

.steps__items {
    justify-content: space-between;
    align-items: flex-start;
}

.steps__img-box {
    margin: 0 auto 30px;
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    position: relative;
}

.steps__img-box svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.steps__item-text {
    color: #0D606F;
    max-width: 320px;
    text-align: center;
}

/* end block steps */


/* start block destinations */
.destinations {
    margin-bottom: 80px;
}

.destinations__wrap {
    position: relative;
}

.destinations__title {
    margin-bottom: 46px;
    text-align: center;
}

.destinations__slides {
    margin-left: -60px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    transform: translatex(-540px);
    transition: transform 0.5s;
}

.destinations__slide {
    padding: 53.3% 0 0 0;
    margin-left: 60px;
    position: relative;
    min-height: 210px;
    min-width: 800px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.destinations__slide-name {
    position: absolute;
    bottom: 40px;
    left: 15px;
    z-index: 10;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
}

.destinations__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dotes {
    justify-content: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba(242, 120, 92, 0.5);
    border: none;
    transition: background-color 0.5s;
}


.dot:not(:first-child) {
    margin-left: 10px;
}

.dot--active {
    background: #F2785C;
}

.arrows {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow:hover path {
    fill: #fd5d39;
}

.arrow--noScroll path {
    fill-opacity: 0.5;
}

.arrows__left {
    left: 21px;
}

.arrows__right {
    right: 21px;
}

/* end block destinations */



/* start block stories */
.wrap-bg {
    background-image: url(../img/stories__bg.jpg);
    background-repeat: no-repeat;
    background-position: center 93px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.stories {
    padding-bottom: 41px;
    position: relative;
}

.stories::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.stories__title {
    text-align: center;
}

.stories__box {
    padding-top: 80px;
}

.stories__card {
    justify-content: space-between;
    font-weight: 400;
    color: #0D606F;
}

.stories__card:not(:last-child) {
    margin-bottom: 30px;
}

.img-box {
    margin-right: 40px;
    position: relative;
    padding: 20.9% 0 0 0;
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    min-width: 155px;
    min-height: 130px;
}

.stories__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories__card-content {
    max-width: 760px;
    width: 100%;
}

.stories__card-title {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.stories__card-text--small {
    display: none;
}

.stories__card-text--main {
    display: block;
}

.stories__card-link {
    display: block;
}

.stories__card-link span {
    font-weight: 700;
    position: relative;
    overflow-x: hidden;
    transition: color 0.5s;
}

.stories__card-link span::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0D606F;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.3s;
}

.stories__card-link span:hover {
    color: #05363f;
}

.stories__card-link span:hover::after {
    bottom: -2px;
    background-color: #05363f;
}

/* end block stories */


/* start block footer */
.footer {
    padding: 15px 0 14px;
}

.footer__inner {
    justify-content: space-between;
    color: #fff;
    width: 100%;
}

.social__item {
    line-height: 0;
}

.social__link {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.social__link svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

svg path {
    transition: fill 0.5s;
}

.social__link:hover svg path {
    fill: rgb(196, 196, 196);
}

.footer__text {
    padding-right: 20px;
    width: 62%;
    text-align: right;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}



.social__item:not(:first-child) {
    margin-left: 24px;
}

/* end block footer */