/* start global style */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

p, div, h1, h2, h3, h4, h5, h6, blockquote, ul, ol, li {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

input {
    border: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.flex-cr {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #0D606F;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: inherit;
    font-family: 'Red Hat Text', sans-serif;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #09444f;
}

.wrap-more {
    margin-top: 40px;
    text-align: center;
}

.link-more {
    padding: 13px 38px 13px 81px;
    position: relative;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.link-more::after {
    content: "";
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 22px;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
}

/* end global style */


/* start block header*/
.privew-box {
    margin-bottom: 85px;
    background-image: url(../img/preview-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    max-height: 765px;
    position: relative;
    min-height: 390px;
    height: 100%;
}

.privew-box::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -1;
}

.header {
    margin-bottom: 32px;
    padding: 26px 0 24px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    font-family: 'Red Hat Text', sans-serif;
    color: #fff;
}

.header__inner {
    justify-content: space-between;
}

.header__menu {
    margin: 0px 10px;
}

.menu__items {
    justify-content: space-between;
}

.menu__item:not(:first-child) {
    margin-left: 42px;
}

.menu__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    transition: color 0.5s;
}

.menu__link:hover {
    color: #313131;
}

.header__btn {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* end block header*/

/* start block preview */
.preview {
    color: #fff;
    padding-bottom: 17%;
}

.preview__content {
    max-width: 892px;
    width: 100%;

}

.preview__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

.preview__text {
    margin-bottom: 46px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.preview__form {
    position: relative;
}

.preview__search {
    display: block;
    width: 100%;
    padding: 32px 298px 34px 41px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    border-radius: 16px;
    transition: background-color 0.5s;
}

.preview__search:hover {
    background-color: rgba(255, 255, 255, 1);
}

.preview__search:focus {
    background-color: rgba(255, 255, 255, 1);
}

.preview__search::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.preview__btn {
    padding: 13.5px 32.5px;
    box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    max-width: 290px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

/* end block preview */



/* start block steps */
.steps {
    margin-bottom: 92px;
}

.steps__title {
    margin-bottom: 40px;
    text-align: center;
}

.steps__items {
    justify-content: space-between;
}

.steps__img-box {
    margin: 0 auto 30px;
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    position: relative;
}

.steps__img-box svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.steps__item-text {
    color: #0D606F;
    max-width: 320px;
    text-align: center;
}

/* end block steps */


/* start block destinations */
.destinations {
    margin-bottom: 80px;
}

.destinations__wrap {
    margin-bottom: 40px;
}

.destinations__title {
    margin-bottom: 46px;
    text-align: center;
}

.destinations__slides {
    margin-left: -60px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.destinations__slide {
    padding: 53.3% 0 0 0;
    margin-left: 60px;
    position: relative;
    min-height: 210px;
    /* min-width: 360px; */
    min-width: 800px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    transform: translatex(-540px);
}

.destinations__slide-name {
    position: absolute;
    bottom: 40px;
    left: 15px;
    z-index: 10;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
}

.destinations__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dotes {
    justify-content: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba(242, 120, 92, 0.5);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.dot:not(.dot--active):hover {
    background: rgba(242, 120, 92, 0.8);
}

.dot:not(:first-child) {
    margin-left: 10px;
}

.dot--active {
    background: #F2785C;
}

/* end block destinations */



/* start block stories */
.wrap-bg {
    background-image: url(../img/stories__bg.jpg);
    background-repeat: no-repeat;
    background-position: center 93px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.stories {
    padding-bottom: 41px;
    position: relative;
}

.stories::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.stories__title {
    padding-bottom: 40px;
    text-align: center;
    background-color: #fff;
}

.stories__box {
    padding-top: 40px;
}

.stories__card {
    justify-content: space-between;
    font-weight: 400;
    color: #0D606F;
}

.stories__card:not(:last-child) {
    margin-bottom: 30px;
}

.img-box {
    margin-right: 40px;
    position: relative;
    padding: 20.9% 0 0 0;
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    min-width: 155px;
    min-height: 130px;
}

.stories__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories__card-content {
    max-width: 760px;
    width: 100%;
}

.stories__card-title {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.stories__card-link {
    font-weight: 700;
    /* text-decoration: underline; */
    position: relative;
    overflow-x: hidden;
    transition: color 0.5s;
}

.stories__card-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0D606F;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}

.stories__card-link:hover {
    color: #05363f;
}

.stories__card-link:hover::after {
    bottom: -2px;
    background-color: #05363f;
}

/* end block stories */


/* start block footer */
.footer {
    padding: 15px 0 14px;
}

.footer__inner {
    justify-content: center;
    color: #fff;
    width: 100%;
}

.footer__social {
    margin-left: auto;
}

.social__item {
    line-height: 0;
}

.social__link {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.social__link svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

svg path {
    transition: fill 0.5s;
}

.social__link:hover svg path {
    fill: rgb(196, 196, 196);
}

.footer__text {
    width: 100%;
    text-align: right;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.footer__social {
    margin-left: 22%;
}

.social__item:not(:first-child) {
    margin-left: 24px;
}

/* end block footer */